<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Josefin+Slab" rel="stylesheet">
    <link rel="stylesheet" href="./public/assets/css/blog-style.css">
    <title>Blog Reviews</title>
</head>

<body>
    <!--page wrapper-->
    <div class="container">
        <!--navbar-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">The Blog Review</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <!--Modal to add a new blog-->
                    <li class="nav-item">
                        <button class="btn btn-outline-warning" data-toggle="modal" data-target=".bd-example-modal-lg">Add Blog</button>
                        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content addOne">
                                    <form>
                                        <div class="form-group row">
                                            <label for="inputEmail3" class="col-sm-2 col-form-label">Blog Title</label>
                                            <div class="col-sm-10">
                                                <input type="email" class="form-control" id="inputEmail3" placeholder="Title">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputPassword3" class="col-sm-2 col-form-label">Website</label>
                                            <div class="col-sm-10">
                                                <input type="password" class="form-control" id="inputPassword3" placeholder="http://example.com">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-10">
                                                <button type="submit" class="btn btn-outline-danger">Add</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="btn btn-outline-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Category
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Blogs</a>
                                <a class="dropdown-item" href="#">VLOGS</a>
                                <a class="dropdown-item" href="#">Web Comics</a>
                            </div>
                        </div>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search for a blog" aria-label="Search">
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
        <!--page header-->
        <div class="row">
            <div class="col header">
                <svg viewBox="0 0 860 250">
                    <symbol id="web-coderskull">
                        <text text-anchor="middle" x="50%" y="70%">Blog Review</text>
                    </symbol>
                    <g class="webcoderskull">
                        <use xlink:href="#web-coderskull" class="web-coder-skull"></use>
                        <use xlink:href="#web-coderskull" class="web-coder-skull"></use>
                        <use xlink:href="#web-coderskull" class="web-coder-skull"></use>
                        <use xlink:href="#web-coderskull" class="web-coder-skull"></use>
                        <use xlink:href="#web-coderskull" class="web-coder-skull"></use>
                    </g>
                </svg>
            </div>
            </div>
            <div class="row">
                <div class="col text-center topBlogs">
                    <h2>Top Blogs</h2>
                </div>
            </div>
            <div class="row">
                <div class="col blogRoll">
                    <p>Bacon ipsum dolor amet drumstick spare ribs turducken, bacon cow tail kielbasa jowl shank pancetta pork belly corned beef doner filet mignon. Drumstick hamburger picanha bresaola salami andouille cupim rump beef ribs venison ribeye pig kevin frankfurter. Picanha pig pork loin alcatra chuck kielbasa. Chuck picanha landjaeger pastrami, short ribs pork pork belly. Bresaola drumstick prosciutto capicola. Meatball drumstick corned beef ribeye short ribs. Pork chop capicola sausage, ball tip tri-tip salami bacon ribeye frankfurter doner drumstick. Sausage turkey venison filet mignon biltong boudin. Sirloin ribeye sausage flank, strip steak corned beef burgdoggen venison chuck tail tri-tip doner ball tip beef leberkas. Tri-tip pig filet mignon, ball tip picanha pork belly doner sausage frankfurter. T-bone prosciutto short loin, picanha corned beef meatball jerky short ribs sirloin boudin. Drumstick turkey picanha leberkas beef ribs jowl alcatra short ribs boudin flank landjaeger. Bresaola burgdoggen t-bone kielbasa spare ribs, biltong filet mignon tail jowl. Pork loin alcatra kevin corned beef ham hock prosciutto. Spare ribs cupim pastrami chuck. Cow tenderloin landjaeger sirloin filet mignon chicken tri-tip drumstick chuck. Pork kevin sirloin, tenderloin tail meatloaf strip steak spare ribs biltong. Andouille beef bacon, ham doner meatball pork prosciutto chuck salami pork chop filet mignon. Porchetta pancetta leberkas hamburger brisket. Pancetta cow tail picanha ham hock tenderloin. Frankfurter pork tongue prosciutto andouille bresaola, pork chop picanha jowl t-bone ham hock beef ribs pork belly. Corned beef shankle bresaola, drumstick turducken pork cow capicola hamburger landjaeger shank tenderloin fatback. Filet mignon landjaeger corned beef ham. Pancetta tenderloin tail porchetta alcatra jerky sausage shank filet mignon bacon frankfurter. Rump chicken bacon sirloin cow, pastrami tail prosciutto shankle pork loin boudin. Picanha kielbasa short ribs shoulder pork belly prosciutto cupim filet mignon turducken ball tip. Bacon biltong beef ribs tri-tip, prosciutto short loin porchetta cupim ribeye ham hock shank cow meatloaf alcatra. Flank capicola t-bone, porchetta short ribs meatloaf leberkas jerky ham hamburger chuck jowl. Pastrami jowl hamburger short ribs ball tip tenderloin picanha corned beef meatball fatback pork belly. Capicola tongue ball tip biltong fatback tri-tip pastrami pork loin pork frankfurter sirloin meatball short ribs strip steak.</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ul>
                        {{#each Review}} 
                        <li>
                            {{this.title}}
        
                            <form action="/{{this.id}}?_method=PUT" method="POST">
                                <input type="hidden" name="devoured" value="true">
                            </form>
                        </li>
                       {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
        <script type="text/javascript" src="node_modules/auth0-js/build/auth0.js"></script>
        
        <script>
        $("nav.navbar-fixed-top").autoHidingNavbar();
        </script>
</body>

</html>