<script>
    localStorage.setItem("returnURL", window.location.href);
</script>
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light nav-color">
    <a class="navbar-brand" href="/"><img src="http://static.tumblr.com/9d8544b08a0439a9bac2fc1009555802/pk0ells/dDqmgt12d/tumblr_static_blog_logo.png" width="30" height="30" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <button class="btn btn-outline-warning" data-toggle="modal" data-target={{#unless currentUserSub}} "#requiresLoginModal"{{/unless}}
                    {{#if currentUserSub}} "#addBlogModal"{{/if}}>Add Blog</button> 
            </li>
            <li class="nav-item">
                <button class="btn btn-outline-danger margin-btn" data-toggle="modal" data-target={{#unless currentUserSub}}
                    "#requiresLoginModal"{{/unless}}{{#if currentUserSub}} "#writeReviewSearchModal"{{/if}}>Write A Review</button> 
                {{#if currentUserSub}}
                <!-- Modal that prompts sign in -->
                <div class="modal fade" id="writeReviewSearchModal" tabindex="-1" role="dialog" aria-labelledby="requiresModalLogin" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content addOne">
                            <form action="/searchBlogs" method="POST" class="form-inline">

                                <input class="form-control widenIt" name="keyword" type="text" placeholder="Search for a Blog to Review" aria-label="Search">
                                <button class="btn btn-outline-primary my-2 my-sm-0 btnInModal" type="submit" id="search-btn">Search</button>

                            </form>
                        </div>
                    </div>
                </div>
                {{/if}}
        </ul>
        <form id="search-form" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" name="keyword" type="text" placeholder="Search for a blog" aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0 submitBtn" type="submit">Search</button>
        </form>
        {{#unless currentUserSub}}
        <a href="/login" class="no-decoration-link"><button type="button" class="btn btn-outline-success login">Sign up/Log in</button></a>        
        {{/unless}} 
        {{#if currentUserSub}}
        <a href="/logout" class="no-decoration-link"><button type="button" class="btn btn-outline-success login">Log out</button></a>
        {{/if}}
    </div>
</nav>

<script>
    $("#search-form").on("submit", function(event){
        event.preventDefault();
        var searchTerm = $("input[name='keyword']").val();
        searchTerm.trim();
        $.post("/searchBlogs/" + searchTerm, function(data){
            window.location.href = ("/searchBlogs/" + searchTerm);
        });
        
    });  
</script>


{{#unless currentUserSub}} 
    {{> modals/requiresLogin}} 
{{/unless}} 
{{#if currentUserSub}} 
    {{> modals/addBlog}} 
{{/if}}