<script>localStorage.setItem("returnURL", window.location.href);</script>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/"><img src="http://static.tumblr.com/9d8544b08a0439a9bac2fc1009555802/pk0ells/dDqmgt12d/tumblr_static_blog_logo.png" width="30" height="30" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <button class="btn btn-outline-warning" data-toggle="modal" 
                    data-target={{#unless currentUserSub}}"#requiresLoginModal"{{/unless}}
                    {{#if currentUserSub}}"#addBlogModal"{{/if}}>Add Blog</button>

                    {{#unless currentUserSub}}
                        {{> modals/requiresLogin}}
                    {{/unless}}

                    {{#if currentUserSub}}
                        {{> modals/addBlog}}
                    {{/if}}

                </li>
            </ul>
            
            <form action="/searchBlogs" method="POST" class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" name="keyword" type="text" placeholder="Search for a blog" aria-label="Search">
                <button class="btn btn-outline-primary my-2 my-sm-0 submitBtn" type="submit">Search</button>
            </form>
            {{#unless currentUserSub}}
            <a href="/login" class="no-decoration-link"><button type="button" class="btn btn-outline-success login">Sign up/Log in</button></a>
            {{/unless}}
            {{#if currentUserSub}}
            <a href="/logout" class="no-decoration-link"><button type="button" class="btn btn-outline-success login">Log out</button></a>
            {{/if}}
        </div>
    </nav>