<div class="modal fade" id="requiresLoginModal" tabindex="-1" role="dialog" aria-labelledby="requiresModalLogin" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content addOne">
            <p>You must log in to perform this action.</p>
            <a href="/login" class="no-decoration-link"><button type="button" class="btn btn-outline-success login">Sign up/Log in</button></a>
        </div>
    </div>
</div>