body {
   padding-top:45px;
}
.addOne {
	padding: 30px;
}
.topBlogs {
	padding: 30px;
	border-bottom: solid 1px black;
    font-family: 'Fredericka the Great', cursive;
    font-size:40px;
}

.blogRoll {
	margin-top: 40px;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');
html, body{
  height: 100%;
  font-weight: 800;
}

.header{
  background: #000;
  font-family: 'Roboto', sans-serif;
}
.submitBtn {
    margin-right: 10px;
}
.margin-btn {
    margin-left: 10px;
}
.btnStyle {
    color: #B92828;
    background-color: white;
    border: 1px solid #B92828;
}
.btnStyle:hover {
    color: white;
    background-color: #B92828;
}
.btnInModal {
    margin-right: 10px;
}
.widenIt {
    width: 400px!important;
    margin-right: 10px;
}

svg {
    display: block;
    font: 9.5em 'Roboto';
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 300px;
    margin: 0 auto;
}

.web-coder-skull {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.web-coder-skull:nth-child(6){
    stroke: #263238;
	animation-delay: -1;
}

.web-coder-skull:nth-child(2){
	stroke: #26abe2;
	animation-delay: -2s;
}

.web-coder-skull:nth-child(3){
	stroke: orange;
	animation-delay: -3s;
}

.web-coder-skull:nth-child(4){
	stroke: red;
	animation-delay: -4s;
}

.web-coder-skull:nth-child(5){
	stroke: #fff;
	animation-delay: -5s;
}
.web-coder-skull:nth-child(1){ 
stroke: green;
animation-delay: -1s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}
.card {
    border: 0;
    box-shadow: 10px 10px 5px #888888;
    margin-bottom: 15px;
    margin-top: 15px; 
}
.card-body {
    font-family: 'Fredericka the Great', cursive;
    margin-bottom: 40px;
    
}
.card-text {
    font-family: "Roboto", sans-serif;
}
.title {
    background-color: #B92828;
    color: white;
    padding: 30px;
}
.title:hover{
    box-shadow: 0px 5px 7px -2px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.container {
    box-shadow: 10px 10px 5px #888888, -5px 10px 5px #888888;
    padding-bottom: 20px;
    margin-bottom:20px;
}

.background-main {
    background-color: lightgrey;
}

.colored-link {
    color:#B92828;
}

.colored-link:hover {
    color:#992121;
    text-decoration:none;
}

.no-decoration-link {
    color:inherit;
}

.no-decoration-link:hover {
    text-decoration:none;
    color:inherit;
}

.no-results {
    text-align:center; 
    width:66%;
    margin: auto;
    margin-top:20px;
}

.underline {
    border-bottom: solid 1px black;
    margin:20px;
}
.indent {
    margin: 40px;
}
#userHead {
    font-family: 'Fredericka the Great', cursive ;
    padding-left: 40px;
    font-size: 4rem;
}
#indentation {
    padding-left: 60px;
    font-family: 'Roboto', sans-serif;
}
.login {
    margin-right: 10px;
}
.Login-default > .text-altered { 
    display:none; 
}
.Login-altered > .text-default { 
    display:none; 
}
.brandlogo {
    height: 20px;
    width: 20px;
}

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 

.close:focus {
    outline: none;
}